[submodule "chef_handler"]
	path = chef_handler
	url = https://github.com/opscode-cookbooks/chef_handler.git
[submodule "windows"]
	path = windows
	url = https://github.com/opscode-cookbooks/windows.git
[submodule "ark"]
	path = ark
	url = https://github.com/bryanwb/chef-ark
[submodule "java"]
	path = java
	url = https://github.com/opscode-cookbooks/java
[submodule "elasticsearch"]
	path = elasticsearch
	url = https://github.com/elasticsearch/cookbook-elasticsearch
[submodule "ulimit"]
	path = ulimit
	url = https://github.com/bmhatfield/chef-ulimit
[submodule "redisio"]
	path = redisio
	url = https://github.com/brianbianco/redisio
[submodule "yum"]
	path = yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "mongodb"]
	path = mongodb
	url = https://github.com/edelight/chef-mongodb.git
